$border-radius-lg: 20px;
$border-radius-sm: 10%;

// COLORS
$main-white: #fff;
$main-gray: #4F4F4F;
$light-gray: #ECECED;
$inactive-gray: #BDBDBD;
$brand: #FF6A34;
$accent: #9141B8;
$accent-lighten1: #bb93ce7a;


@mixin preview {
    width: 381px;
    height: 224px;
    position: relative !important;
    border-radius: $border-radius-lg;
    background-image: linear-gradient(grey, black);
}

.premeeting-screen {
    background: $main-white;
    flex-direction: row;
    .preview-overlay {
        @include preview;
    }
}

#preview {
    @include preview;
    overflow: hidden;
}

// MAIN VIDEO AREA
#largeVideoContainer {
    .subject {
        .subject-text {display: none;}
        .subject-conference-timer {
            width: 41px;
            height: 23px;
            left: 51px;
            top: 43px;

            // font-family: Source Sans Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.4px;
            text-transform: uppercase;
        }
    }
}

.tile-view {
    #largeVideoContainer {
        background-color: $defaultBackground !important;
    }
    #filmstripRemoteVideosContainer {
        .videocontainer {
            border-radius: $border-radius-lg !important;
            overflow: hidden !important;
        }
    }
}


// CONNECTION INDICATOR
.videocontainer__toptoolbar .connection-indicator, .videocontainer__toptoolbar .indicator {
    border: 0px solid transparent;
    margin-left: 12px !important;
    margin-top: 9px !important;
    width: 25px;
    height: 25px;
}

.videocontainer__toptoolbar .connection-indicator {
    font-size: 10px !important;
}

.connection-indicator {
    &.status-high {
        background: #63CC81;
    }

    &.status-med {
        background: #E9DA59;
    }

    &.status-lost {
        background: $inactive-gray;
    }

    &.status-low {
        background: #FF4848;
    }
}

// PARTICIPANTS RIGHT STRIP
.filmstrip {
    max-width: 173px !important;
    #remoteVideos {
        .videocontainer {
            border-radius: $border-radius-sm;
            overflow: hidden;
        }
    }
}

// BOTTOM CONTROLS
$button-padding: 6px;
.button-group-left,
.button-group-right {
    .toolbox-icon  {
        border-radius: 50% !important;
        background: $main-white;
        padding: $button-padding;
        font-size: 11px !important;
        &.toggled, &:hover {
            background: $inactive-gray !important;
        }
        svg {
            fill: none !important;
        }
        &.labeled {
            flex-direction: row;
            align-items: center;
            border-radius: 30px !important;
            color: $main-gray;
            text-transform: uppercase;
            font-weight: bold;
            width: fit-content;
            padding: $button-padding ($button-padding * 3);
            .tvt-icon-label {
                margin-left: 1em;
            }
        }
        @media only screen and (max-width: 700px) {
            &.labeled {
                padding: $button-padding;
                .tvt-icon-label {
                    display: none;
                }
            }
        }
    }
}
.button-group-center {
    .toolbox-icon  {
        padding: $button-padding;
    }
}

// Bottom controls popup container
$popup-radous: 15px;
.toolbox-button-wth-dialog,
.audio-preview,
.video-preview {
    .dOAAnq {
        background: transparent;
        border-radius: $popup-radous;
        box-shadow: none;
        overflow: hidden;
    }
}


@mixin popup {
    background: $main-white;
    border-radius: $popup-radous;
    color: $main-gray !important;
    font-size: 16px;
}
@mixin popup-item {
    border-radius: 10px;
    background: $main-white !important;
    color: $main-gray !important;
    &:hover {
        background: $light-gray !important;
    }
}

// Central bottom settings popup
.audio-preview-content {
    @include popup;
    padding: 0 13px;
    .audio-preview-header {
        color: $main-gray;
        &:last-child {
            position: relative;
            &:before {
                content: ' ';
                border-top: 1px solid $main-gray;
                width: 80%;
                left: 10%;
                top: 0px;
                position: absolute;
            }
        }
    }
    .audio-preview-speaker,
    .audio-preview-microphone {
        @include popup-item;
        &:hover {
            .audio-preview-entry {
                margin-left: 48px; 
            }
        }
        .audio-preview-entry {
            background: transparent !important;
            padding: 8px 0;
            .audio-preview-entry-text {
                color: $main-gray !important;
                font-size: 14px;
            }
            &:last-child {
                margin-bottom: 6px;
            }
            &.audio-preview-entry--selected {
                margin-left: 21px;
            }
        }
        .audio-preview-test-button {
            border: 1px solid $brand;
            border-radius: 9px;
            font-size: 9px;
            padding: 3px 16px;
            line-height: 16px;
            color: $brand;
            text-transform: uppercase;
            top: 8px;
            right: 10px;
        }
        .audio-preview-meter-mic {
            top: 14px;
            &.jitsi-icon.metr > svg {
                fill: #E1E3EA;
            }
        }
        .audio-preview-icon--check {
            background: transparent;
        }
    }
    .audio-preview-speaker:last-child {
        margin-bottom: 10px;
    }
}
.video-preview-container {
    @include popup;
    padding: 15px;
    .video-preview {
        border-radius: 15px;
        .video-preview-entry {
            border-radius: 13px;
            &.video-preview-entry--selected {
                border: 3px solid $brand;
            }
            .video-preview-label {
                border-radius: 10px 10px 0px 0px;
            }
            .video-preview-overlay {
                border-radius: 10px;
            }
            .video-preview-video {
                border-radius: 10px;
            }
        }
    }
}

// Right side bottom popup
.new-toolbox .toolbox-content .overflow-menu {
    @include popup;
    padding: 5px;
    .overflow-menu-item {
        @include popup-item;
        padding: 7px 12px;
        &:hover {
            background: $light-gray !important;
        }
    }
}

// Settings dialog
.eoRGoR {
    background-color: $main-white !important;
    border-radius: 15px !important;
    color: #4a4a4a !important;
    .settings-dialog {
        // Bottom underline, whole width
        .ybfvp {
            background-color: $accent-lighten1;
        }
        // Navigation tabs container
        .bZoCUn {
            width: 100%;
            display: flex;
            flex-direction: row;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            & div {
                flex-grow: 1;
                text-align: center;
                // Selected tab
                &.iqNwPx {
                    color: $accent;
                    & span.bHNyBH {
                        background-color: $accent;
                        color: $accent;
                    }
                }
                // Not selected tab
                &.oQiLZ {
                    color: $accent-lighten1;
                }
            }
        }
        .settings-pane {
            .device-selection {
                width: 100%;
                margin-top: 12px;
                .device-selection-column.column-video {
                    width: 50%;
                    .device-selection-video-container {
                        height: 216px;
                        width: 100%;
                        .video-input-preview {
                            border-radius: 20px;
                            overflow: hidden;
                            position: relative;
                            width: 100%;
                            height: 100%;
                            .video-input-preview-display {
                                position: absolute;
                                top: 0%;
                                right: -22%;
                                width: auto;
                                height: 100%;
                            }
                        }
                    }
                }
                .audio-input-preview {
                    display: none;
                }
                .device-selection-column.column-video {
                }
            }
        }
    }
}
