$border-radius-lg: 20px;
$border-radius-sm: 10%;

// COLORS
$main-white: #fff;
$main-gray: #4F4F4F;
$inactive-gray: #BDBDBD;


@mixin preview {
    width: 381px;
    height: 224px;
    position: relative !important;
    border-radius: $border-radius-lg;
    background-image: linear-gradient(grey, black);
}

.premeeting-screen {
    background: $main-white;
    flex-direction: row;
    .preview-overlay {
        @include preview;
    }
}

#preview {
    @include preview;
    overflow: hidden;
}

// MAIN VIDEO AREA
#largeVideoContainer {
    .subject {
        .subject-text {display: none;}
        .subject-conference-timer {
            width: 41px;
            height: 23px;
            left: 51px;
            top: 43px;

            // font-family: Source Sans Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.4px;
            text-transform: uppercase;
        }
    }
}

.tile-view {
    #largeVideoContainer {
        background-color: $defaultBackground !important;
    }
    #filmstripRemoteVideosContainer {
        .videocontainer {
            border-radius: $border-radius-lg !important;
            overflow: hidden !important;
        }
    }
}


// CONNECTION INDICATOR
.videocontainer__toptoolbar .connection-indicator, .videocontainer__toptoolbar .indicator {
    border: 0px solid transparent;
    margin-left: 12px !important;
    margin-top: 9px !important;
    width: 25px;
    height: 25px;
}

.videocontainer__toptoolbar .connection-indicator {
    font-size: 10px !important;
}

.connection-indicator {
    &.status-high {
        background: #63CC81;
    }

    &.status-med {
        background: #E9DA59;
    }

    &.status-lost {
        background: gray;
    }

    &.status-low {
        background: #FF4848;
    }
}

// PARTICIPANTS RIGHT STRIP
.filmstrip {
    max-width: 173px !important;
    #remoteVideos {
        .videocontainer {
            border-radius: $border-radius-sm;
            overflow: hidden;
        }
    }
}

// BOTTOM CONTROLS
.button-group-left,
.button-group-right {
    .toolbox-icon  {
        border-radius: 50% !important;
        background: $main-white;
        &.toggled, &:hover {
            background: $inactive-gray !important;
        }
        svg {
            fill: $main-gray !important;
            path: {
                // fill: $main-gray !important;
            }
        }
    }
    .tvt-share-screen-btn-wrapper {
        border-radius: 35px;
        background: $main-white;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 8px;
        padding: 0 8px 0 0;
        .toolbox-button {
            margin: 0;
            svg {
                fill: none;
            }
        }
        .tvt-btn-text {
            color: $main-gray;
            // font-family: Source Sans Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 11px;
            line-height: 14px;
            letter-spacing: 0.4px;
            text-transform: uppercase;
        }
    }
}
