// Bottom controls
$button-padding: 6px;

.button-group-left,
.button-group-right {
    .toolbox-icon  {
        border-radius: 50% !important;
        background: $main-white;
        padding: $button-padding;
        font-size: 11px !important;
        &.toggled,
        &:hover {
            background: $inactive-gray !important;
        }
        svg {
            fill: none !important;
        }
        &.labeled {
            flex-direction: row;
            align-items: center;
            border-radius: 30px !important;
            color: $main-gray;
            text-transform: uppercase;
            font-weight: bold;
            width: fit-content;
            width: -moz-fit-content;
            width: -webkit-fit-content;
            padding: $button-padding ($button-padding * 3);
            .tvt-icon-label {
                margin-left: 1em;
                text-transform: none;
            }
        }
        @media only screen and (max-width: 700px) {
            &.labeled {
                padding: $button-padding;
                .tvt-icon-label {
                    display: none;
                }
            }
        }
    }
}
.button-group-center {
    .toolbox-icon  {
        padding: $button-padding;
        &:hover {
            background: $gray-lighten4 !important;
            border: 1px solid transparent !important;
        }
        &.toggled, {
            background: $main-gray !important;
            border: 1px solid transparent !important;
            &:hover {
                background: $gray-lighten !important;
            }
        }
    }
    .toolbox-button.tvt-hangup-button {
        .toolbox-icon {
            background-color: $error-color !important;
            border: 1px solid $error-color !important;
        }
    }
    .settings-button-small-icon {
        &:hover {
            background-color: $gray-lighten4;
        }
    }
}

// Bottom controls popup container
$popup-radius: 5px;
.toolbox-button-wth-dialog,
.audio-preview,
.video-preview {
    div div:not(.jitsi-icon) {
        border-radius: $popup-radius;
        box-shadow: none;
        overflow: hidden;
    }
}


@mixin popup {
    background: $main-white;
    border-radius: $popup-radius;
    color: $main-gray !important;
    font-size: 16px;
}
@mixin popup-item {
    border-radius: 3px;
    background: $main-white !important;
    color: $main-gray !important;
    &:hover {
        background: $gray-lighten5 !important;
    }
}

// Central bottom settings popup
.audio-preview-content {
    @include popup;
    padding: 9px 20px;
    .audio-preview-header {
        color: $main-gray;
        padding-left: 0px;
        &:last-child {
            position: relative;
            &:before {
                content: ' ';
                border-top: 1px solid $main-gray;
                width: 80%;
                left: 10%;
                top: 0px;
                position: absolute;
            }
        }
        & .audio-preview-header-icon {
            svg {
                transform: scale(0.85);
            }
        }
    }
    .audio-preview-speaker,
    .audio-preview-microphone {
        @include popup-item;
        &:hover {
            .audio-preview-entry {
                margin-left: 48px; 
            }
        }
        .audio-preview-entry {
            background: transparent !important;
            padding: 8px 0;
            .audio-preview-entry-text {
                color: $main-gray !important;
                font-size: 14px;
            }
            &:last-child {
                margin-bottom: 6px;
            }
            &.audio-preview-entry--selected {
                margin-left: 21px;
            }
        }
        .audio-preview-test-button {
            border: 1px solid $accent2;
            border-radius: 3px;
            font-size: 9px;
            padding: 3px 16px;
            line-height: 16px;
            color: $accent2;
            text-transform: uppercase;
            top: 8px;
            right: 10px;
        }
        .audio-preview-meter-mic {
            top: 14px;
            right: 10px;
            &.jitsi-icon.metr > svg {
                fill: #E1E3EA;
                transform: scale(1.5);
            }
        }
        .audio-preview-icon--check {
            background: transparent;
        }
    }
    .audio-preview-speaker:last-child {
        margin-bottom: 10px;
    }
}
// Video preview dialog of the bottom center video settings button
$video-previw-border-radius: 5px;
.video-preview-container {
    @include popup;
    padding: 10px;
    .video-preview {
        border-radius: $video-previw-border-radius;
        .video-preview-entry {
            border-radius: $video-previw-border-radius;
            &.video-preview-entry--selected {
                border: 3px solid $accent2;
            }
            .video-preview-label {
                border-radius: $video-previw-border-radius;
                text-align: start;
                bottom: 0px;
                font-weight: bold;
            }
            .video-preview-overlay {
                border-radius: 0px;
            }
            .video-preview-video {
                border-radius: $video-previw-border-radius;
            }
        }
    }
}

// Right side bottom popup
.new-toolbox {
    .toolbox-background {
        background-image: linear-gradient(to top, rgb(0 0 0 / 81%), rgb(0 0 0 / 0%));
        z-index: 615;
    }
    .toolbox-content {
        z-index: 616;
        .overflow-menu {
            @include popup;
            padding: 7px;
            .overflow-menu-item {
                @include popup-item;
                padding: 7px 12px;
                &:hover {
                    background: $gray-lighten5 !important;
                }
            }
        }
    }
}
