// Connection indicator
.tvt-connection-indicator,
.tvt-indicator {
    position: relative;
    text-align: center;
    line-height: $thumbnailIndicatorSize;
    padding: 0;
    @include circle($thumbnailIndicatorSize);
    box-sizing: border-box;
    z-index: $zindex3;
    color: $thumbnailPictogramColor;
    width:  2em;
    height: 2em;

    .indicatoricon {
        @include absoluteAligning();
    }

    .connection {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        left: 0;
        @include transform(translate(0, -50%));

        &_empty,
        &_lost
        {
            color: #8B8B8B;
            overflow: hidden;
        }

        &_full
        {
            @include topLeft();
            color: #FFFFFF;
            overflow: hidden;
        }

        &_ninja
        {
            font-size: 1.5em;
        }
    }

    .icon-gsm-bars {
        cursor: pointer;
        font-size: 1em;
    }
}

.videocontainer__toptoolbar {
    .tvt-connection-indicator,
    .tvt-indicator {
        margin-left: 12px !important;
        margin-top: 9px !important;
    }
}

.tvt-connection-indicator {
    &.status-high {
        background: #63CC81;
    }

    &.status-med {
        background: #E9DA59;
        font-size: 10px !important;
    }
    
    &.status-other,
    &.status-lost,
    &.status-low {
        font-size: 12px !important;
        $low-status-red: #FF4848;
        background: $low-status-red;
        &::after {
            position: absolute;
            left: 0px;
            top: 0px;
            content: ' ';
            width: 100%;
            height: 100%;
            border-radius: 50%;
            @keyframes status-low-pulsate {
                0% {
                    opacity: 0;
                    transition: opacity 0.5s ease-out;
                }
                25% {
                    opacity: 1;
                    transition: opacity 1s linear;
                }

                100% {opacity: 0;}
            }
            box-shadow: 0 0 11px 3px #ff4848d4;
            opacity: 0;
            animation: status-low-pulsate 2s infinite;
        }
    }
}

.tile-view {
    .videocontainer {
        .videocontainer__toptoolbar {
            .tvt-connection-indicator {
                font-size: 12px !important;
                margin-left: 16px !important;
                margin-top: 14px !important;
                &.status-med {
                    font-size: 14px !important;
                }
                &.status-other,
                &.status-lost,
                &.status-low {
                    font-size: 16px !important;
                }

            }
        }
    }
}
