$video-width: 160px;
$video-height: 90px;
$vido-border-radius: 5px;

@mixin video-container {
    padding-top: 0 !important;
    height: $video-height !important;
    border-radius: $vido-border-radius;
    overflow: hidden;
    display: inline-block;
}

@mixin video-container-box-shadow($color) {
    border: 1px solid $color !important;
    -webkit-box-shadow:  inset 0 0 8px $color, 0 0 8px $color !important;
    -moz-box-shadow:  inset 0 0 8px $color, 0 0 8px $color !important;
    box-shadow:  inset 0 0 8px $color, 0 0 8px $color !important;
}

// Filmstrip toggle button
#toggleFilmstripButton {
    left: 11px;
    position: relative;
}

@mixin video-container-mixin {
    border: 1px solid transparent !important;
    &.active-speaker,
    &.videoContainerFocused {
        @include video-container-box-shadow($blue-lighten);
    }
    &:hover:not(.videoContainerFocused) {
        @include video-container-box-shadow($blue-lighten1);
    }
    &.tvt-connection-status-low,
    &.tvt-connection-status-other,
    &.tvt-connection-status-lost {
        @include video-container-box-shadow($error-lighten1);
        &:hover {
            @include video-container-box-shadow($error-lighten);
        }
    }
    .displayNameContainer {
        position: absolute;
        bottom: 1.5em;
        width: 100%;
        .displayname {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 9px;
            line-height: 12px;
            letter-spacing: 0.67px;
        }
    }
    .popover-trigger {
        pointer-events: none;
    }
    .videocontainer__toptoolbar * {
        pointer-events: none;
    }
    .indicator-icon-container.toolbar-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 50%;
        overflow: hidden;
        width: 17px;
        height: 17px;
        &.audioMuted {
            &.canBeMuted:hover {
                background: #fff;
                & svg path {
                    fill: $main-gray;
                }
            }
        }
        &.videoMuted {
            display: none;
        }
    }
}

// Participants right strip
.vertical-filmstrip {
    .filmstrip {
        right: 15px;
        .filmstrip__videos {
            width: $video-width;
            // Provider and cliet video containters
            & .videocontainer {
               @include video-container;
               @include video-container-mixin;
                .moderator-icon {
                    display: none;
                }
                .remotevideomenu {
                    display: none;
                }
                .displayNameContainer {
                    bottom: 1em;
                }
                .avatar-container {
                    width: 40px !important;
                    height: 40px !important;
                }
                .indicator-icon-container.toolbar-icon {
                    bottom: 64px;
                    &.audioMuted {
                        left: 30px;
                    }
                    &.videoMuted {
                        display: none;
                    }
                }
                &.tvt-connection-status-med {
                    .indicator-icon-container.toolbar-icon {
                        &.audioMuted {
                            left: 35px;
                        }            
                    }
                }
                &.tvt-connection-status-low,
                &.tvt-connection-status-other,
                &.tvt-connection-status-lost {
                    .indicator-icon-container.toolbar-icon {
                        &.audioMuted {
                            left: 38px;
                        }            
                    }
                } 
            }
            #filmstripLocalVideo {
                margin-bottom: 0px;
                #filmstripLocalVideoThumbnail {
                    height: $video-height;
                    margin-bottom: 15px;
                    #localDisplayName {
                        pointer-events: none !important;
                    }
                }
            }
            #filmstripRemoteVideos {
                flex-direction: column !important;
                .remote-videos-container {
                    flex-direction: column !important;
                    padding-top: 17px;
                    &::before {
                        content: ' ';
                        height: 1px;
                        background: $main-white;
                        width: 96%;
                        top: -16px;
                        left: 7px;
                        position: relative;
                        opacity: 0.5;
                    }
                }
                & .videocontainer {
                    margin-bottom: 8px;
                    video {
                        opacity: 1;
                        &:hover {
                            opacity: 0.4;
                        }
                    }
                    .displayname {
                        opacity: 0;
                    }
                    &:hover {
                        .displayname {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.tile-view {
    .videocontainer {
        border-radius: 5px;
        @include video-container-mixin;
        & > video {
            object-fit: fill;
        }
        .remotevideomenu {
            display: none;
        }
        .videocontainer__toolbar{
            top: 15px;
            left: 0;
            .audioMuted {
                left: 45px;
                width: 19px !important;
                height: 19px !important;
                padding: 2px;
                .jitsi-icon {
                    width: 100%;
                    height: 100%;
                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        &.tvt-connection-status-med {
            .indicator-icon-container.toolbar-icon {
                &.audioMuted {
                    left: 48px;
                }            
            }
        }
        &.tvt-connection-status-low,
        &.tvt-connection-status-other,
        &.tvt-connection-status-lost {
            .indicator-icon-container.toolbar-icon {
                &.audioMuted {
                    left: 53px;
                }            
            }
        } 
    }
}

.tile-view {
    #filmstripRemoteVideosContainer {
        .videocontainer {
            overflow: hidden !important;
            video {
                object-fit: fill !important;
            }
        }
    }
}
