@mixin preview {
    width: 381px;
    height: 224px;
    position: relative !important;
    border-radius: $border-radius-lg;
    background-image: linear-gradient(grey, black);
}

.premeeting-screen {
    background: $main-white;
    flex-direction: row;
    .preview-overlay {
        @include preview;
    }
}

#preview {
    @include preview;
    overflow: hidden;
}

