.videocontainer {
    .subject {
        overflow: visible;
        padding: 19px 0px 0px 24px;
        top: 0;

        .subject-conference-timer {
            color: $main-gray;
            background: $main-white;
            padding: 6px 10px;
            margin-left: 7px;
            border-radius: 17px;
        }

        .tvt-subject-indicator-watermarks-wrapper {
            position: relative;
            left: 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            @include transition(top 0.3s ease-in);

            .tvt-connection-indicator {
                margin-left: 7px;
            }

            .watermark {
                position: relative;
                top: 0px;
                left: 0px;
            }
        }
    }
}
